@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<link href="~/Content/error.css" rel="stylesheet" />

<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <div></div>
                <h1>404</h1>
            </div>
            <h2>Page not found</h2>
            <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
            @if (Session["App_Id"] != null)
            {
                if (Session["UserType"].ToString() == "Applicant") {
                  <a href="@Url.Action("JobList", "Job", "Applicant")">Home Page</a>
                }
                else if (Session["UserType"].ToString() == "Admin")
                {
                    <a href="@Url.Action("Index", "Home", "Admin")">Home Page</a>
                }
            }
            else
            {
                <a href="#">home page</a>
            }
        </div>
    </div>
</div>